.container {
  position: absolute;
  /* top: 105%; */
  top: 90%;
  /* z-index: 1; */
  /* z-index: -1; */

  left: 50%;
  transform: translateX(-50%);

  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  box-shadow: 0px 0px 2px gray;

  width: 90%;
}

.conditions{
    display: flex;
    align-items: center;
    gap: 10px;

    color: rgb(78, 78, 78);
}

.iconC {
    width: 18px;
    height: 18px;
}

.icon {
  width: 100%;
  height: 100%;
}
