@font-face {
  font-family: "SF";
  src: url("./assets/fonts/sf-pro-semibold.ttf") format("truetype");
  /* font-weight: normal; */
  /* font-style: normal; */
}

* {
  padding: 0;
  margin: 0;
  font-family: "SF", sans-serif;
  box-sizing: border-box;
}

:root {
  --toastify-color-info: #3498db;
  --toastify-color-success: rgb(0, 255, 149);
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: rgb(219, 92, 117);

  --color1: purple;
  --color2: blueviolet;
  --color3: violet;
  --color3_1: rgb(236, 175, 236);

  --color4: transparent;
  --gradient1: linear-gradient(180deg, #faf0f2, #fafaf7);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
}


body {
  /* background-color: rgb(61, 60, 60); */
  /* background-image: linear-gradient(180deg, #faf0f2, #fafaf7); */
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: black !important;
    box-shadow: 0 0 0 1000px black inset !important;
}
 */
