.superContainer {
  /* border: 1px solid red; */
  /* background-color: beige; */
  /* background-color: black; */
  padding-top: 50px;

  min-height: 100vh;
}

/* #faf0f2 */
/* fafaf7 */

.container {
  /* border: 1px solid blue; */
  /* max-width: 1000px; */
  margin: auto;
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  gap: 50px;
  /* min-height: 500px; */
}

.main,
.section {
  /* border: 1px solid greenyellow; */
  /* width: 40%; */
  width: 400px;

  height: 100%;

  display: flex;
  justify-content: center;
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* width: 350px; */
  position: relative;
}

.mainBg {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */

  object-fit: cover;
  object-position: center top;

  opacity: 0.05;
}

.main h1 {
  /* border: 1px solid; */
  font-size: 24px;
  width: fit-content;
  /* text-align: center; */
  margin: auto;
  /* margin-bottom: 20px; */
}

.main h2 {
  /* border: 1px solid; */
  font-size: 14px;
  color: gray;
  width: fit-content;
  /* text-align: center; */
  margin: auto;
  font-weight: 500;
  /* margin-bottom: 20px; */
}

/*  */

.form {
  /* border: 1px solid blue; */
  /* background-color: rgb(181, 118, 240); */

  /* width: 90%; */
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */

  padding: 0px 10px;

  position: relative;
  z-index: 1;
}

.heading {
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
  /* margin-bottom: 40px; */
}

.formItemC {
  width: 100%;
  position: relative;
  margin-top: 40px;
  /* margin-bottom: 40px; */
}

.formItem {
  /* border: 1px solid blue; */
  position: relative;
  /* z-index: 2; */
}

.formInfo {
  /* border: 1px solid red; */
  position: absolute;
  /* left: 2%; */
  top: 120%;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;
  text-align: center;

  font-size: 14px;

  /* width: 95%; */
  overflow: hidden;
  text-overflow: ellipsis;

  color: red;
}

.form input {
  border-radius: 10px;
  border: 2px solid gray;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;

  /* outline: 1px solid transparent; */
  outline: none;
  transition: border-color 0.3s;

  position: relative;
  /* z-index: 2; */
}

.form input:hover {
  border-color: blueviolet;
}

.passwordForm {
  z-index: 2;
}

.passwordConditons {
  position: relative;
  z-index: 1;
}

.password {
  width: 24px;
  height: 24px;

  position: absolute;
  right: 1%;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);

  filter: opacity(0.6);
  cursor: pointer;
}

.formItemCheckboxC {
  /* border: 1px solid royalblue; */
  width: 100%;
  font-size: 14px;

  display: flex;
  gap: 5px;
  align-items: center;

  margin-top: 40px;
}

.checkboxC {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}

.checkBoxC label {
  white-space: nowrap;
}

.checkbox {
  cursor: pointer;
  width: 100%;
  height: 100%;
  accent-color: purple;
}

.checkbox:hover {
  outline-color: transparent !important;
}

.signUpButton {
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: bolder;

  margin-top: 10px;
  transition: background-color; 
}

.signUpButton:hover {
  background-color: rgb(62, 62, 62);
}

.signUpButton:active {
  background-color: rgb(100, 100, 100);
}

.signIn {
  /* border: 1px solid; */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  margin-top: 20px;
}

.signIn div {
  font-size: 16px;
}

.signIn button {
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background-color: transparent;
  color: purple;
}

.loading {
  color: black;
}

.green {
  color: green;
}

.formInfoSignIn {
  color: purple;
}
.formInfoSignIn button {
  border: none;
  margin-left: 5px;
  background-color: purple;
  border-radius: 3px;
  color: white;
  padding: 2px 4px;
}

/*  */

.section {
  /* height: 460px; */
  /* height: 100%; */
  /* flex-basis: 30%; */
}

.foregroundImageC {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
}

.foregroundImage {
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;
  /* border: 1px solid forestgreen; */
  border-radius: 20px;
  display: block;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: red; */
  z-index: 2;
}

@media all and (max-width: 860px) {
  .container {
    gap: 0px;
  }
}

@media all and (max-width: 810px) {
  .superContainer {
    padding-top: 0px;
  }
  .container {
    flex-direction: column-reverse;
  }
  .main,
  .section {
    width: 100vw;
  }

  .section {
    height: 350px;
  }

  .foregroundImage {
    border-radius: 0px;
  }

  .main {
    /* width: 95%; */
    border-radius: 12px;
    width: min(95vw, 370px);

    /* position: relative; */
    bottom: 100px;
  }

  .form {
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #faf0f2;
  }
}

@media all and (max-width: 400px) {
  .formItemCheckboxC {
    font-size: 13px;
  }
  .main h1 {
    font-size: 22px;
  }
}

/* sign in */

.lineC {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;

  margin: 10px 0px 10px 0px;
}

.line {
  /* flex-grow: 1; */
  width: 100%;
  height: 1px;
  background-color: black;
}

.forgotButton {
  border: none;
  background-color: transparent;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 5px;
  color: var(--color1);
}
