.container {
  /* border: 1px solid black; */
  margin: 100px;

  /* display: grid;
  grid-template-areas:
    "form1 image"
    "form1 form2"; */

  display: flex;
  flex-direction: column;

  max-width: 1000px;
  margin: auto;

  padding-top: 30px;
}


.main {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
}

.form1,
.form2,
.image {
}

.form1 {
  /* grid-area: form1; */
  /* border: 1px solid red; */
  /* background-color: red; */

  justify-self: end;

  display: flex;
  flex-direction: column;
  /* align-self: center; */
  /* justify-content: center; */
  gap: 20px;

  width: 330px;

  margin-right: 40px;
}

.form2 {
  /* grid-area: form2; */
  /* border: 1px solid blue; */
  /* background-color: blue; */

  /* justify-self: flex-start; */

  display: flex;
  flex-direction: column;
  /* align-self: center; */
  /* justify-content: center; */
  gap: 20px;

  width: 330px;
}

/*  */

.form1 h1 {
  font-size: 24px;
  margin-bottom: 2px;
}

.imageC {
  /* height: 400px; */
  width: 300px;
  width: 100%;
  /* aspect-ratio: 3/4; */
}

.image {
  /* border: 1px solid green; */

  border-radius: 12px;
  width: 100%;
  height: 100%;
}

/*  */

.formItemC {
  /* border: 1px solid blue; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formItemC label,
.formItemC > .label {
  position: relative;
  left: 2px;
}

.inputText {
  border-radius: 10px;
  border: 2px solid gray;
  /* width: 100%; */
  padding: 10px;
  font-size: 16px;
  background-color: transparent;

  /* outline: 1px solid transparent; */
  outline: none;
  transition: border-color 0.3s;

  position: relative;
  /* z-index: 2; */
}

.inputText:hover {
  border-color: var(--color2);
}

.genderRadiosC {
  display: flex;
  gap: 20px;
}

.genderRadio {
  display: flex;
  gap: 3px;
  accent-color: var(--color2);
}

.continueButton {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 1000px;

  background-color: black;
  color: white;

  width: min(350px, 90vw);
  margin: auto;
  margin-top: 40px;
}

.continueButton:hover {
  background-color: rgb(62, 62, 62);
}

.continueButton:active {
  background-color: rgb(100, 100, 100);
}

@media all and (max-width: 790px) {
  .main {
    gap: 10px;
  }

  .form1 {
    margin-right: 10px;
  }
}

@media all and (max-width: 710px) {
  .main {
    grid-template-columns: 100%;
  }

  .form1 {
    justify-self: center;
    margin-right: 0px;
  }

  .form2 {
    justify-self: center;
  }

  .main {
    background-color: beige;
    width: fit-content;
    margin: auto;
    padding: 20px 10px;
    border-radius: 10px;

    position: relative;
    top: 150px;
  }

  .form1 h1 {
    margin: auto;
  }

  .imageC {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 400px;
  }

  .image {
    object-fit: cover;
    object-position: center 50%;
    border-radius: 0px;
  }

  .continueButton {
    position: relative;
    top: 150px;
  }
}
