.container {
  margin: auto;
  margin-top: 100px;

  /* border: 1px solid; */
  width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imageC{
    /* border: 1px solid red; */
    width: 200px;
    height: 200px;
}

.image{
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
}

.container > div:nth-of-type(2) {
  /* background-color: aqua; */
  font-size: 24px;
}

.container > div:nth-of-type(3) {
  /* background-color: aqua; */
  color: var(--color1);
}

.container > button {
  width: 200px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
}


.homeButton{
  background-color: var(--color1) !important;
}

.previousButton{
}