.container {
  /* border: 1px solid red; */
}

.menuButton {
  display: block;
  /* border: 1px solid black; */
  width: 25px;
  aspect-ratio: 1/1;
}

.menuIcon {
  display: block;
  width: 100%;
  height: 100%;
}

.closeButton {
  display: block;
  /* border: 1px solid black; */
  width: 25px;
  aspect-ratio: 1/1;
  align-self: flex-end;
}

.closeIcon {
  display: block;
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  min-width: 150px;
  background-color: white;
  box-shadow: 0px 0px 10px gray;

  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.anim {
  transform: translateX(0%);
}

/*  */

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 20px;
}

.container ul a {
  color: black;
  text-decoration: none;
}

.container ul a {
  position: relative; /* Needed for ::after */
}


.container ul a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: purple;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
  border-radius: 100px;
}


.container ul a:hover::after {
  transform: translateX(-50%) scaleX(1);
}


.container ul a.active::after {
  transform: translateX(-50%) scaleX(1);
  background: var(--color2);
  /* optional */
}

.container ul a.active::after {
  transform: translateX(-50%) scaleX(1);
  background: var(--color2);
  /* optional */
}

.container ul a.active {
  color: var(--color2) !important;
  /* keep color change */
}


.container button {
  display: flex;
  align-items: center;
}


.container button:hover {
  color: var(--color2);
}

.knowMyVibeButton{

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}