.container {
  /* background-color: aquamarine; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border-bottom-left-radius: 30px; */
  /* border-bottom-right-radius: 30px; */

  box-shadow: 0px 0px 10px rgb(190, 190, 190);

  /* position: relative; */
  /* z-index: 1; */

  position: fixed;
  top: 0;
  width: 100%;

  background-color: white;

  padding: 0px 20px;

  height: 50px;

  z-index: 2;
}

.searchButton {
  /* border: 1px solid red; */
  display: block;
  width: 20px;
  /* height: 25px; */
  aspect-ratio: 1/1;

  position: relative;
  /* top: 2px; */
}

.searchIcon {
  display: block;
  width: 100%;
  height: 100%;
}

.searchButton {
  color: black;
}

.searchButton:hover {
  color: var(--color1) !important;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoC {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 24px;
  text-decoration: none;
  color: black;
}

.logoImageC {
  width: 50px;
  /* height: 50px; */
}

.logoImage {
  /* background-color: red; */
  width: 100%;
  height: 100%;

  position: relative;
  top: 2px;
}

.right {
  /* border: 1px solid red; */
  /* width: 50%; */
}

.right ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.right ul a {
  color: black;
  text-decoration: none;
}

.right ul a {
  position: relative; /* Needed for ::after */
}

/* underline element */
.right ul a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;

  width: 100%;
  height: 2px;

  background: purple;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;

  border-radius: 100px;
  transition: transform 0.3s ease;
}
 
/* hover underline */
.right ul a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* active underline (no text-decoration) */
.right ul a.active::after {
  transform: translateX(-50%) scaleX(1);
  background: var(--color2);
  /* optional */
}

.right ul a.active {
  color: var(--color2) !important;
  /* keep color change */
}

/*  */

.right ul li {
  /* border: 1px solid; */
}

.knowMyVibeButton {
  /* border: 1px solid; */

  display: flex;
  align-items: center;

  /* position: relative; */
  /* bottom: 0.5px; */
}

.right button:hover {
  color: var(--color2);
}

.knowMyVibeButton img {
  position: relative;
  top: 1px;
  width: 20px;
}

.knowMyVibeButton img:hover {
  color: var(--color2);
}

@media all and (max-width: 800px) {
  .right ul li {
    display: none;
  }

  .right ul li:first-child,
  .right ul li:last-child {
    display: block;
  }
 
}



 