.container {
  --width: 230px;
  --width: 100%;

  --input-padding: 10px 10px 10px 10px;
  --input-font-size: 16px;
  /* --input-font-size: 1rem; */

  --dropdown-top: 50px;
  --dropdown-max-height: 250px;
  --flag-width: 30px;
  --flag-height: 20px;

  --selected-flag-width: 25px;
  --selected-flag-height: 16px;

  --selected-option-top: 14px;
  --selected-option-left: 12px;
  --selected-option-height: 20px;

  --selected-option-div-width: 150px;
  --selected-option-div-height: 100%;

  /* border: 1px solid red; */
  width: var(--width);
  position: relative;

}

.container input {
  /* height: 45px; */
  border: 2px solid gray;
  width: 100%;
  height: 100%;
  background-color: var(--color4);
  color: black;
  font-size: var(--input-font-size);
  padding: var(--input-padding);
  border-radius: 10px;

  outline: none;

  /* caret-color: var(--color3); */
  transition: border-color 0.3s;

  overflow: hidden;
  text-overflow: ellipsis;
}

.container input::placeholder {
  color: gray !important;
  /* color: red !important; */
}

.container input:hover {
    border-color: var(--color2);
}


.selectedOption {
  /* border: 1px solid blue; */
  position: absolute;
  /* top: var(--selected-option-top); */
  left: var(--selected-option-left);
  /* height: var(--selected-option-height); */
  top: 50%;
  transform: translateY(-50%);
  /* left: 3%; */

  display: flex;
  /* align-items: center; */
  /* gap: 5px; */

  width: calc(100% - 20px);
  /* width: 100%; */
  /* pointer-events: none; */
}

.selectedOption > div {
  /* border: 1px solid gold; */
  /* word-break: keep-all !important; */
  /* word-wrap: normal !important; */
  white-space: nowrap !important;
  /* color: var(--color3); */
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis !important;
  /* width: var(--selected-option-div-width); */
  height: var(--selected-option-div-height);
}

.selectedFlag {
  /* border: 1px solid red; */
  width: var(--selected-flag-width);
  height: var(--selected-flag-height);

  margin-right: 3px;

  position: relative;
  top: 2px;
}


.clearBtn {
  /* border: 1px solid gold !important; */
  /* position: absolute; */
  /* right: 10px; */
  /* top: 55%; */
  /* transform: translateY(-50%); */

  position: relative;
  top: 1px;

  background-color: transparent;
  width: 20px;

  border: none;
  filter: invert(0.5);
}

.clearSvg {
  /* width: 25px; */
  transform: scale(1.4);
  width: 100%;
}

/*  */

.dropdown {
  /* border: 1px solid blue; */
  width: 100%;
  max-height: var(--dropdown-max-height);
  background-color: white;
  border-radius: 5px;

  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px gray;

  position: absolute;
  /* top: var(--dropdown-top); */
  bottom: 110%;
  z-index: 1;

}

.dropdown > div {
  word-wrap: break-word;
  padding: 3px;
  /* text-align: center; */
  text-align: left;

}

.dropdown > div:hover {
  background-color: var(--color3_1);
}


.activeOption {
  background-color: var(--color3);
}


.optionContent {
  /* border: 1px solid red; */
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.optionContent > div {
  /* text-align: left; */
}


.flag {
  width: var(--flag-width);
  height: var(--flag-height);
}


.selected {
  margin-top: 100px;
}
